h1{
    color: blue;
}
.para{
    font-size: 20px;
    background-color: green;
    color: white;
}
.para2{
    font-size: 30px;
    color:  rgb(234, 107, 107);
}
.dhoni-image{
    width: 300px;
}